body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}





@media screen and (max-width:768px) {
  .navigation__list {
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: 0;
      /* width: 100%; */
      width: 97.7%;
      background-color: #fff;
      height: 6.3rem;
      -webkit-box-shadow: 0 -4px 8px rgb(0 0 0 / 7%);
      box-shadow: 0 -4px 8px rgb(0 0 0 / 7%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 12px;
      padding: 0 .8rem;
  }
  .navigation__icon {
      /* display: flex;
      align-items: center;
      justify-content: space-around; */
      margin-left: 0rem;
      flex-direction: column;
      padding: 0 5px 0 0;
      width: 55%;
  }


  .icon {
      margin-right: 8px;
      font-size: 59.5px;
  }
  .token{
      margin-bottom: 150px;
  }
  .table{
      position: relative;
      bottom: 140px;
      font-size: 2rem;
  }
  
}


@media screen and (max-width:468px){
  .navigation__list{
      width: 95.5%;
      padding: .5rem;
  }
  .table{
      font-size: 1.3rem;
  }

    /* .navigation__icon > p{
    font-size: 10px;
} */
}         

